html {
    font-size: 10px; /*Need to set this so that we can easily use rem for sizing*/
}
/*Please modify these variables as needed to achieve your desired results*/
:root {
    --accessibility-tools-wrapper: 100%; /*This variable will set the width of the accessibility toolbar*/
    --accessibility-tools-highlightColor: #ff0;
    --accessibility-tools-textSize: 16px; /*This variable will set the base text size once this option is chosen in the tools*/
}
#AccessibilityToolsButton {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    left: -10000px;
    overflow: hidden;
    padding: 0.5rem;
    position: absolute;
    top: auto;
    z-index: 100;
}
#AccessibilityToolsButton:focus {
    background-color: #444;
    left: 0;
    position: absolute;
    top: 0;
}
#AccessibilityToolsWrapper {
    border: 1px solid #ddd;
    margin: -8px auto 0;
    width: var(--accessibility-tools-wrapper);
}
#AccessibilityTools {
    display: none;
}
#AccessibilityTools.is-visible {
    display: block;
}
.accessibilityTools {
    text-align: center;
}
.accessibilityTools h2 {
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
}
.accessibilityTools h3 {
    font-size: 2rem;
}
.accessibilityTools .accessibilityToolsOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}
.accessibilityTools .accessibilityToolsOption{
    margin: 0 1rem;
}
.accessibilityTools .accessibilityLabel {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.accessibilityTools .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.accessibilityTools .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    transition: 0.4s;
    top: 0;
    -webkit-transition: 0.4s;
}
.accessibilityTools .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    -webkit-transition: 0.4s;
}
.accessibilityTools input:checked + .slider {
    background-color: #2196f3;
}
.accessibilityTools input:focus + .slider {
    box-shadow: 0 0 8px #007bff;
}
.accessibilityTools input:checked + .slider:before {
    transform: translateX(26px);
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
}
.accessibilityTools #AccessibilityToolsButtonClose {
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1.6rem;
    width: 100%;
}
.accessibilityTools-grayscale {
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
}
.accessibilityTools-highlightLinks a,
.accessibilityTools-highlightLinks a * {
    background-color: #000 !important;
    color: var(--accessibility-tools-highlightColor) !important;
    text-decoration: underline !important;
}
.accessibilityTools-contrast {
    background: #000 !important;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.accessibilityTools-textSize {
    font-size: var(--accessibility-tools-textSize);
}
.accessibilityTools-cursorSize{
    cursor: url("../images/pointer.png"), auto;
}

.accessibilityTools-cursorSize a:hover,
.accessibilityTools-cursorSize button:hover,
.accessibilityTools-cursorSize input:hover,
.accessibilityTools-cursorSize .slider:hover{
    cursor: url("../images/hand.png"), auto !important;
}

